extends layout

block styles
  link(
        href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css',
        rel='stylesheet', 
        integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4', 
        crossorigin='anonymous'
      )

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js')
  script(src='./js/steem-prop.js' defer='defer')
        
block content
  section(class='row')
    textarea(class='col-md-6 full-height' id='editor' data-bind='textInput: pad, event: {scroll: syncScroll}')
    div(class='col-md-6 full-height' id='preview' data-bind='html: md')
